<div class="currency-input" ng-controller="myCtrl">
 
    <div class="currency-input-wrap" ng-model="selectedCur">

        <div class="details">
            <h1> {{ title }} </h1>
        </div>

        <div class="form">

            <input
                type="number"
                placeholder="Enter amount"
                [(ngModel)]="amount"
                (ngModelChange)="amountChange($event)"
                (blur)="converting()"
            >

            <select 
                [(ngModel)]="currency"
                (ngModelChange)="currencyChange(currency)"
                (blur)="converting()"
            >
                <option *ngFor="let rate of rates | keyvalue" [selected]="rate"> {{ rate.key }} </option>
            </select>

        </div>

    </div>

</div>
