@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    font-family: 'Noto Sans', sans-serif;
}